body{
}
.logo a{
    text-decoration:none;
    color:#000000;
    background-color:#1186D8;
    font-size:40px;
    font-family:Calibri;
    border: 2px solid black;
    box-shadow: 0,0,20;
    padding:20px;
    font-weight:bold;
    border-radius:50%;
    position:relative;
    top: -10px;
}
.logo{
    text-align:center;
}
